In [3]:
sys=5
print (id)

<built-in function id>

In [6]:
print("Hello from python!")
print('doing internship in divine ai')
print('''Twinkle, twinkle, little star\n
How I wonder what you are
Up above the world so high\t
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night
Twinkle, twinkle, little star
How I wonder what you are
Good night, baby''')

Hello from python!
doing internship in divine ai
Twinkle, twinkle, little star

How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night
Twinkle, twinkle, little star
How I wonder what you are
Good night, baby

In [7]:
print(34)
print("anything")
print("3+4j")

34
anything
3+4j

In [10]:
print(2 + 3)
print(3*5)
print(2//3,"second one",2/5)

5
15
0 second one 0.4

In [5]:
print("The answer:", 42)

The answer: 42

In [11]:
x = 3
print(x)
x=7
print(x)

3
7

In [7]:
x = 2 + 2
print(x)

4

In [12]:
name = "Iron man"
print(name, "is his name")

game="cricket"
print("bumrah and virat kohli both are important in the game of",game)

Iron man is his name
bumrah and virat kohli both are important in the game of cricket

In [13]:
3 + 4
5*4
6/3

2.0

In [10]:
x = 5
3 * x

15

In [11]:
x = 5
y = x * 3
print(y)

15

In [ ]:
y

In [ ]:
y = y + 1
y

In [ ]:
y += 1
y

In [12]:
a = True
b = False
print(a, b)

x = 10 < 5
print(x)

True False
False

In [ ]:
i = -7
j = 123
print(i, j)

In [13]:
x = 3.14159
y = -42.3
print(x * y)

-132.889257

In [14]:
k = 1.5e3
l = 3e-2
print(k)
print(l)

1500.0
0.03

In [15]:
s = "String with double quotes"
t = 'String with single quotes'
u = "It's a string with apostrophes"
"""A string that extends
over multiple lines"""

'A string that extends\nover multiple lines'

In [16]:
z = None
print(z)

None

In [17]:
a = True
print(a, "is of", type(a))

True is of <class 'bool'>

In [18]:
i = -7
print(i, "is of", type(i))

-7 is of <class 'int'>

In [14]:
x = 12.7893
print(x, "is of", type(x))

y=3+6j
print(y,"is of",type(x))

12.7893 is of <class 'float'>
(3+6j) is of <class 'float'>

In [15]:
s = "Workshop"
print(s, "is of", type(s))

Workshop is of <class 'str'>

In [ ]:
z = None
print(z, "is of", type(z))

In [19]:
print("Hi") # this will be ignored
# as will this
print("Bye")
# print "Never seen"

Hi
Bye

In [20]:
x = 4.5
y = 2

print('x = ', x, 'y = ', y)
print('addition x + y =', x + y) 
print('subtraction x - y =', x - y) 
print('multiplication x * y =', x * y) 
print('division x / y =', x / y)

x =  4.5 y =  2
addition x + y = 6.5
subtraction x - y = 2.5
multiplication x * y = 9.0
division x / y = 2.25

In [ ]:
x = 4.5
y = 2

print('x = ', x, 'y = ', y)
print('division x / y =', x / y)
print('floored division x // y =', x // y)
print(type(x//y))
print('modulus (remainder of x/y) x % y =', x % y) 
print('exponentiation x ** y =', 10 ** 2)

In [21]:
x = 13
y = 5

print('x * (2 + y) =', x * (2 + y))
print('(x * 2) + y =', (x * 2) + y)
print('x * 2 + y =', x * 2 + y)

x * (2 + y) = 91
(x * 2) + y = 31
x * 2 + y = 31

In [22]:
int(13 + 5.0)

18

In [23]:
float(3) + float(7)

10.0

In [29]:
int(3.14159) + 1

+1+1

6

In [31]:
print('number' + str(3))

number3

In [32]:
print("3/4 =", 3/4)
print("3.0/4 =", 3.0/4)
print("float(3)/4 =", float(3)/4)

3/4 = 0.75
3.0/4 = 0.75
float(3)/4 = 0.75

In [33]:
x = 3
x += 1 # equivalent to x = x + 1
x

4

In [34]:
x = 2
y = 10
y *= x
y

20